{% extends model('component') %}

{% define config = {
    name: 'optile-hosted',
    tag: 'optile-hosted',
} %}

{#{% define data = {#}
    {#scriptSrc: '../../../third-party/op-payment-widget/op-payment-widget-v3.js',#}
{#} %}#}

{% block body %}
    <h1>hello</h1>
    <div class="{{ config.jsName }}__form"></div>
{% endblock %}
