{% extends model('component') %}

{% define config = {
    name: 'optile-hosted',
    tag: 'optile-hosted',
} %}

{#{% define data = {#}
    {#form: form,#}
{#} %}#}

{% block body %}
    <h1>hello</h1>
{% endblock %}
